<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Callback</servlet-name>
        <servlet-class>de.bastianhofmann.oauth2.examples.webapp.Callback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusNet</servlet-name>
        <servlet-class>de.bastianhofmann.oauth2.examples.webapp.LocalStatusNetConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Callback</servlet-name>
        <url-pattern>/Callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusNet</servlet-name>
        <url-pattern>/StatusNet</url-pattern>
    </servlet-mapping>
</web-app>
